.babel*
.bmocharc*
.bpkgignore
.editorconfig
.eslint*
.git*
.mocharc*
.nyc_output/
.yarnignore
bench/
browser/hsd*
build/
coverage/
docker_data/
docs/
eslint.config.cjs
node_modules/
npm-debug.log
package-lock.json
test/
webpack.*.js
yarn.lock
