.babel*
.bmocharc*
.bpkgignore
.editorconfig
.eslint*
.git*
.mocharc*
.yarnignore
bench/
browser/hsd*
build/
docker_data/
docs/
lib/covenants/names.json
lib/dns/tld.json
node_modules/
npm-debug.log
package-lock.json
test/
webpack.*.js
yarn.lock
